<<<<<<< HEAD

{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation du mot de passe</h1>
       
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }} <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(requestForm) }} 
        </div>
    </div>
</section>
{% endblock %}
=======
{% extends 'base.html.twig'%}

{% block title %} Réinitialisation de mot de passe {% endblock %}

{% block body %}

    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Réinitialiser votre mot de passe ici </h1>
                {{ form_start (requestPassForm)}}
                {{ form_row (requestPassForm.email)}} <br>
                <button type="submit" class="btn btn-success"> Envoyer</button>
                {{ form_end (requestPassForm)}}
            </div>
        </div>
    </section>

{% endblock %}
>>>>>>> 47fc7db303b2ed08ae866021ea1dbb90f76e3e71
