{% extends 'base.html.twig'%}
{% block navbar %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('./styles/liste.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

{% endblock %}
{% block javascripts %}
	<script src="jquery.add-input-area.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{asset('./js/active.js')}}">
	<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

{% endblock %}

{% block title %}Budget{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    {% if fournisseur %}
    <h1 class="display-4">{{fournisseur.nom}}</h1>
    <p class="lead">{{fournisseur.description}}</p>
    {% endif %}
  </div>
</div>

<nav class="nav nav-tabs">
  {% for  presta in prestateur %}   
  <a class="nav-item nav-link " href="#p{{presta.type}}" data-toggle="tab">{% if presta.type == 1 %}<span>Lieu de réception et salle de réception</span>{% elseif presta.type == 2%}<span>Repas</span>{% elseif presta.type == 3 %}<span>Photo & Vidéo</span>{% elseif presta.type == 4 %}<span>Transport</span>{% elseif presta.type == 5 %}<span>Fleurs et décoration</span>{% elseif presta.type == 6 %}<span>Animation</span>{% elseif presta.type == 7 %}<span>Mise en beauté</span>{% elseif presta.type == 8 %}<span>Tenue vestimentaire</span>  {% endif %}</a>
  {% endfor %}
  
</nav>
<div class="tab-content">  
  {% for  presta in prestateur %}
  <div class="tab-pane fade" id="p{{presta.type}}">
    <h1>{% if presta.type == 1 %}<span>Lieu de réception et salle de réception</span>{% elseif presta.type == 2%}<span>Repas</span>{% elseif presta.type == 3 %}<span>Photo & Vidéo</span>{% elseif presta.type == 4 %}<span>Transport</span>{% elseif presta.type == 5 %}<span>Fleurs et décoration</span>{% elseif presta.type == 6 %}<span>Animation</span>{% elseif presta.type == 7 %}<span>Mise en beauté</span>{% elseif presta.type == 8 %}<span>Tenue vestimentaire</span>  {% endif %}</h1>
    <img class="img-fluid">
      <div class="content-app">
          {{presta.description}}
      </div>

      <div class="price">
        <h2 class="text-success">Tarif : {{presta.price | number_format(2)}} <span>Ariary</span></h2>
      </div>
  </div>

  {% endfor %}
</div>
</div>
            


    <script>
        $(document).ready(function(){
            //alert($('#id_prestateur').val())
        })
        function PrestataireTarif(){
            
        let data = {
            id_prestateur: $('#id_prestateur').val(),
            id_typeprestateur : $('#id_type').val(),
            description: $("#description").val(),
            price: $("#price").val(),            
            }

            $.ajax({
            url: "/prestataire/budget/new",
            method: "PUT",
            data: data,
            success: function (response) {
            alert('L\'enregistrement a été effectué avec succès...')
            location.reload(true);
                }
                    })


        }

        $("#valide_tarifs").click(function(){
            PrestataireTarif()
        })
    </script>

{% endblock %}