
{% block title %}Liste des Prestataires{% endblock %}

{% block body %}
    <h2>Liste des Prestataires</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Description</th>
                <th>Budget</th>
            </tr>
        </thead>
        <tbody>
            {% for prestataire in prestataires %}
                <tr>
                    <td>{{ prestataire.nom }}</td>
                    <td>{{ prestataire.contact }}</td>
                    <td>{{ prestataire.adresse }}</td>
                    <td>
                        <a href="{{ path('app_edit', {'id': prestataire.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('app_edit', {'id': prestataire.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('app_delete', {'id': prestataire.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce prestataire ?');">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun prestataire trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
