{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts disponible {% endblock %}

{% block body %}
    <h2>Liste des Contacts disponible : </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Gérant : </th>
                <th>Adresse : </th>
                <th>Adresse email : </th>
                <th>Contact : </th>
                <th>Actions : </th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.gerant }}</td>
                    <td>{{ contact.adresse }}</td>
                    <td>{{ contact.mail }}</td>
                    <td>{{ contact.numero }}</td>
                    <td>
                     <a href="#" class="btn btn-warning">AJOUTER</a>
                     </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun prestataire trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_new_contact') }}"> Retour </a>
{% endblock %}
