{% extends 'base.html.twig'%}
{% block navbar %}
{%endblock%}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('./styles/liste.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

{% endblock %}
{% block javascripts %}
	<script src="jquery.add-input-area.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{asset('./js/active.js')}}">
	<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>


{% endblock %}

{% block body %}
<div class="container-fuid">
	{% if budgetInitial == "" %}

<section class="popup">	
  <div class="popup__content">
	<button type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
    <div>
      <span></span>
      <span></span>
    </div id="pop_up">
		<h3 class="text-danger">Vous devez remplisser votre Budget avant de commencer...!</h3>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1">Votre budget : </span>
			</div>
			<input type="text" id="budget_initial" class="form-control" placeholder="1,000,000" aria-label="budget" aria-describedby="basic-addon1" value="{{budgetInitial}}">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">Ariary</span>
			  </div>
		  </div>
	
		  <h4 class="text-success">Budget minimum : 1.000.000 Ar</h4>

</section>

<script>
affiche()
	function affiche(){
		$(".popup").fadeIn(500);
	}
	
	$(".close").click(function(){
		$(".popup").fadeOut(500);
	});
			

</script>
		

{% endif %}


	<div>

	</div>

	<div
		class="row p-5">
		<!-- Nav tabs -->
		<div class="col-md-2">
			<span id="info_pour_marie"></span>
			<div class="bloc-menu" style="border: 1px solid #00000015; height:500px">
				<ul class="nav nav-pills flex-column" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Vue général
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Liste des invités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="budget-tab" data-toggle="tab" href="#budget" role="tab" aria-controls="budget" aria-selected="false">Budget</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tous les prestataires</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Vue général -->
		<div class="col-md-10">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="title text-center">
						<h3>Contenu pour Menu 1</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ipsa!</p>
					</div>


					<!-- menu-collapse-1 -->
					<div class="box-mari text-center p-5" style="border: 1px solid #00000015;">
						<span class="arrow-icon" data-toggle="collapse" data-target="#demo"><img src="{{asset('./icons/arrow.svg')}}" class="img-arrow" alt="arrow" style="width: 20px;margin:5px;">Couple</span>
						<span class="pen-modif">
							<i class="fa-solid fa-pen mr-3"></i>Modifier</span>
						<div class="collapse" id="demo">
							<span id="parametre_nom">
								{% if nomHomme != "" and nomFemme !="" %}
									{{nomHomme}}
									et
									{{nomFemme}}


								</span>
								<button id="update" class="btn btn-success">modif.</button>

								<div id="app_update">
									<label for="nomHomme">Nom pour l'époux</label><input type="text" name="homme" id="homme" value="{{nomHomme}}">
									<label for="nomFemme">Nom pour l'épouse</label><input type="text" name="femme" id="femme" value="{{nomFemme}}">
									<input type="button" id="valide" class="btn btn-primary" value="soumettre">
								</div>
							{% else %}
								<div id="app_modif">
									<label for="nomHomme">Nom pour l'époux</label><input type="text" name="homme" id="homme" value="{{nomHomme}}">
									<label for="nomFemme">Nom pour l'épouse</label><input type="text" name="femme" id="femme" value="{{nomFemme}}">
									<input type="button" id="valide" class="btn btn-primary" value="soumettre">
								</div>
							{% endif %}

							<div class="img-valentine">
								<img src="{{asset('./icons/valentine.svg')}}" alt="valentine" style="width: 250px;">
							</div>
						</div>
					</div>


					<!-- menu-collapse-2 -->
					<div class="box-about-event p-5">
						<span class="arrow-icon2" data-toggle="collapse" data-target="#demo2"><img src="{{asset('./icons/arrow.svg')}}" class="img-arrow2" alt="arrow" style="width:20px;margin:5px;">Information de l'événement</span>
						<span class="pen-modif2">
							<i class="fa-solid fa-pen mr-3"></i>Modifier</span>
						<div class="collapse" id="demo2">
							<div class="row p-3">
								<div class="col-md-4">
									<h4>Date de la cérémonie</h4>
									{% if dateCeremonie != "" %}
										<h4 class="text-success">{{dateCeremonie}}</h4>
										<input class="btn btn-success" id="modif_datepicker" type="button" value="modif.">										
										<input id="datepicker" type="text" value="{{dateCeremonie}}">
											
									{% else %}
										<p>
											<a href="#">Ajouter une date pour la cérémonie</a>
										</p>
										<p>Date:
											<input type="text" id="datepicker" value="{{dateCeremonie}}"></p>
									{% endif %}
								</div>
								<div class="col-md-4">
									<h4>Jour - J</h4>
									{% if jourJ == 0 %}<span class="text-success" >C'est la date de cérémonie...</span>{%else%}<h1 >J <span class="text-danger">{{jourJ}}</span></h1>{%endif%}
								</div>
								<div class="col-md-4">
									<h4>Adresse de la cérémonie</h4>
									{% if lieuxCeremonie != "" %}
										<h4 class="text-success">{{lieuxCeremonie}}</h4>
										<input type="button" class="btn btn-success" id="modif_lieuxCeremonie" value="modif.">
										<input type="text" name="" id="lieuxCeremonie" value="{{lieuxCeremonie}}">
									{% else %}
										<p>
											<a href="#">Paramétrer un lieu</a>
										</p>
										<input type="text" name="" id="lieuxCeremonie" value="{{lieuxCeremonie}}">
									{% endif %}
								</div>
							</div>
						</div>
					</div>

					<!-- menu-collapse-3 -->
					<div class="add-guest p-5">
						<span class="arrow-icon3" data-toggle="collapse" data-target="#demo3"><img src="{{asset('./icons/arrow.svg')}}" class="img-arrow3" alt="arrow" style="width:20px;margin:5px;">Invités</span>
						<span class="pen-modif3">
							<i class="fa-solid fa-pen mr-3"></i>Modifier</span>
						<div class="collapse" id="demo3">
							<div class="p-3 text-center">
								<a href="#">Etat de lieux</a>
							</div>
							<div class="guest-info pt-3 pb-3">
								<p>Invités :
									{{nombre_invite}}</p>
								<p>Rejeté : 0</p>
								<p>Confirmé : 0</p>
							</div>
						</div>
					</div>


				</div>

				<!-- Liste des invités -->
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="p-5">
						<h4 class="text-center">Listes des invités</h4>
					</div>

					<div>
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Nom et Prenom</th>
									<th scope="col">Adresse e-mail</th>
									<th scope="col">Status</th>
									<th scope="col">Observation</th>
								</tr>
							</thead>
							<tbody>
								{% for liste_invite in liste_invites %}
									<tr>
										<td>{{liste_invite.0}}</td>
										<td>{{liste_invite.1}}</td>
										<td>{{loop.index}}</td>

										<td>
											<a href="{{liste_invite.1}}" class="btn btn-success">Mail</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>


					</div>

					<div class="pagination_app">
						

						<nav aria-label="...">
							<ul class="pagination">							
								{% for i in 1.. nbPages %}
								<li {% if i == currentPage %} class="page-item active" aria-current="page" {% else %}class="page-item" {% endif %}> 
									{% if i != currentPage %}
										<a class="page-link"  href="?page={{i}}">{{i}}</a>
										{% else %}
										<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{i}}">{{i}}</a>										
									{% endif %}
								</li>							
							{% endfor %}						 
							  
							</ul>
						  </nav>
					</div>

					<div class="row p-3">
						<div class="col-12">
							<div class="guest-sum p-3">

								<h4 class="text-center">
									Total des invités
									<span class="circle">{{nombre_invite}}</span>
								</h4>
							</div>
						</div>
						<div class="col-12">
							<div class="guest-import p-3">
								<a class="btn-1" href="" target="_blank">
									<i class="fa-solid fa-download"></i>Ouvrir CSV</a>
								<a class="btn-1" href="{{path("app_pdf_generator")}}" target="_blank">
									<i class="fa-solid fa-download"></i>Importés une liste d'invités</a>
								{# <button class="btn-2"><i class="fa-solid fa-file-pdf"></i>Télécharger le fichier PDF</button> #}
							</div>
						</div>
					</div>

				</div>
				<!-- Tous les prestataires -->
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="text-center">
							<h4>Tous les vendeurs</h4>
							<p>
								Explorez notre vaste répertoire de prestataires, d'emplacements et de services idéaux pour votre mariage en
								                                découvrant notre base de données étendue de professionnels de confiance. De plus, personnalisez votre liste en
								                                ajoutant des vendeurs sur mesure pour garantir que chaque détail de votre journée soit en accord avec votre
								                                vision personnelle.
							</p>
						</div>
					</div>
					<div class="row p-3">
						<div class="col-12 mb-5 d-flex justify-content-center">
							<div class="add-prest p-5 text-center">
								<span>
									<i class="fa-solid fa-plus"></i>
									<br>
									Ajouter des prestataires</span>
							</div>
						</div>
						<div class="col-md-3 ">
							<div class="card card-1 ">
								<div class="show-prest text-center" id="openModalBtn">
									<i class="fa-regular fa-eye"></i>
									<span>Afficher les détails</span>
								</div>
								<span class="ellipsis"><img src="{{asset('./icons/ellipsis.svg')}}" alt="ellipsis"></span>
								<p>Wedding planner</p>
								<h3>Noeni Bellante Weddin Planner Milano & Italy</h3>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-2">
								<p>Wedding planner</p>
								<h3>Noeni Bellante Weddin Planner Milano & Italy</h3>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-3">
								<p>Wedding planner</p>
								<h3>Noeni Bellante Weddin Planner Milano & Italy</h3>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-4">
								<p>Wedding planner</p>
								<h3>Noeni Bellante Weddin Planner Milano & Italy</h3>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div id="myModal" class="modal">
								<div class="scrollBar">
									<div class="modal-bloc">
										<span id="closeModalBtn" class="close">&times;</span>
										<div class="row">
											<div class="bg-modal">
												<div class="head-prest" style="background-image: url(assets/pictures/test.png);">
													<div class="about-prest">
														<h4>Wedding Planner</h4>
														<h2>Harmony Weddings (Thailand) Co.,Ltd.</h2>
														<p>Bangkok, Thailand</p>
													</div>
												</div>
												<div class="row p-3">
													<div class="col-md-8">
														<h4 class="border-bottom">A propos de</h4>
														<p class="pt-3">Welcome to Harmony Weddings Thailand, your premier destination wedding planning company in the heart of Thailand. We are dedicated to crafting unforgettable wedding experiences that are tailored to your dreams and budget. Whether you envision an intimate elopement surrounded by lush tropical landscapes or a grand celebration with your loved ones.</p>
													</div>
													<div class="col-md-4">
														<h4 class="border-bottom">Contacts</h4>
														<div class="btnBloc pt-3">
															<p>
																<button class="btn01">Ajouter au mariage</button>
															</p>
															<p>
																<button class="btn02">Demander un devis</button>
															</p>
															<p>
																<i class="fa-solid fa-phone"></i>+6 694 861-6634</p>
															<p style="color: #0b98eb;">
																<i class="fa-solid fa-envelope"></i>test24@gmail.com</p>
														</div>
													</div>
												</div>
												<div class="container">

													<div class="row pb-3">
														<div class="col-md-12">
															<h4 class="border-bottom">Photos et vidéos</h4>
														</div>
														<div class="col-md-4">
															<img style="width: 100%; margin-bottom:20px;" src="./assets/pictures/images/sar02.png" alt="">
														</div>
														<div class="col-md-4">
															<img style="width: 100%;" src="./assets/pictures/images/sar05.png" alt="">
														</div>
														<div class="col-md-4">
															<img style="width: 100%;" src="./assets/pictures/images/sar04.png" alt="">
														</div>
														<div class="col-md-4">
															<img style="width: 100%;" src="./assets/pictures/images/sar08.png" alt="">
														</div>
														<div class="col-md-4">
															<img style="width: 100%;" src="./assets/pictures/images/sar10.png" alt="">
														</div>
														<div class="col-md-4">
															<img style="width: 100%;" src="./assets/pictures/images/sar07.png" alt="">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!-- Budget -->
				<div class="tab-pane fade" id="budget" role="tabpanel" aria-labelledby="budget-tab">
					<div class="row">
						<div class="col-12">
							<div class="budget-bloc text-center">
								<h4>Hello Budget</h4>
								<p>Tenez un registre précis de chaque dépense, puis organisez vos catégories
									<br>
									ou éléments individuels à votre guise en les déplaçant à volonté.</p>
							</div>
						</div>
						<div class="col-12 p-3">
							<div class="budget-amount text-center">
								<h2>Mon budget :
									{{budgetInitial}}
									Ariary								
								</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 mt-3">
							<div class="container-search p-3">
								<form class="search">
									<input class="filter" type="text" placeholder="Filtres...">
									<i class="fa fa-search"></i>
								</form>
							</div>
						</div>
					</div>

					<div class="row">	
					{% for presta in prestataire %}					
						<div class="col-md-3">							
							<div class="card mt-3">
								<img src="..." class="card-img-top" alt="...">
								<div class="card-body">
								  <h5 class="card-title">Card title</h5>
								  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							  </div>
							</div>													
					
				{% endfor %}						
				</div>

			</div>
		</div>
	</div>
</div>

<input type="hidden" id="update_id" value="{{idUser}}">


<script>
	$("#update").click(function (){$("#app_update").toggle()})
	$("#modif_datepicker").click(function(){$("#datepicker").toggle()})
	$("#modif_lieuxCeremonie").click(function(){$("#lieuxCeremonie").toggle()})

	//$("#maj_date").click(function(){saveInvite()})
	

function saveInvite() {


let data = {
name_epoux: $('#homme').val(),
name_epouse: $('#femme').val(),
date_ceremonie: $("#datepicker").val(),
lieu_ceremonie: $("#lieuxCeremonie").val(),
budget_initial: $("#budget_initial").val()
}

$.ajax({
url: "/activite/new/" + $("#update_id").val(),
method: "PUT",
data: data,
success: function (response) {
alert('L\'enregistrement a été effectué avec succès...')
location.reload(true);
}
})

}

$("#valide").click(function () {
saveInvite()
})

$("#budget_initial").change(function(){
	saveInvite()
})
$("#datepicker").change(function () {
saveInvite()
})

$("#lieuxCeremonie").change(function () {
saveInvite()
})

$(document).ready(function () {
$("#app_update").hide()
$("#datepicker").hide()
$("#lieuxCeremonie").hide()


})

$(function () {
$("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
});
const btnAddGuestH = document.querySelector('.btn-add-guestH')
const btnAddGuestF = document.querySelector('.btn-add-guestF')
const selectElementF = document.querySelector('.selectBlocF')
const selectElementH = document.querySelector('.selectBlocH')


btnAddGuestH.addEventListener('click', function (e) {

e.preventDefault()
if (selectElementH.style.display === "block") {
selectElementH.style.display = "none";
} else {
selectElementH.style.display = "block";
}
})

btnAddGuestF.addEventListener('click', function (e) {
e.preventDefault()
if (selectElementF.style.display === "block") {
selectElementF.style.display = "none";
} else {
selectElementF.style.display = "block";
}
})
</script>

{%endblock%}
