{% extends 'base.html.twig' %}
{% block title %}
	Vous connectez en tant que :
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row p-5 text-center">
			<div class="col-12">
				<h3>Les projet de mariage que vous suivez</h3>
			</div>
		</div>
		<div class="row">
			{% if femme and homme %}
				<div class="col-md-6 d-flex justify-content-center align-center">
					<div class="new-project text-center p-5">
						<span class="gear-icon">
							<i class="fa-solid fa-gear"></i>
						</span>
						<div class="name">
							<a href="{{path('activite.app_mariage')}}">
								<h5>{{homme|title}} et {{femme|title}}</h5>
							</a>
							<span>date de création: {{date_at}}</span>

						</div>
						<div class="delete-box p-3" style="display: none;">
							<span style="display: block;" class="archiver">Archiver</span>
							<span style="display: block;" class="supprimer">Supprimer</span>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-md-6 d-flex justify-content-center align-center">
				<a href="{{ path('app.who')}}" class="add-new-project text-center p-5">
					<p>
						<i class="fa-solid fa-plus"></i>
					</p>
					<p>Créer un nouveau projet de mariage</p>
				</a>

			</div>
		</div>
	</div>
{% endblock %}
