{% extends 'base.html.twig'%}

{% block navbar %}
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{%block body%}

<div class="activity-form">
	<div class="form-row-app">
		<a class="close_a" href="/activite/">X</a>
	{{ form_start(form) }}
	{{ form_row(form.NomH)}}
	{{ form_row(form.NomF)}}
	{{ form_row(form.DateCeremonie ,{'id':'datepicker'}) }}
	{{ form_row(form.LieuxCeremonie) }}
	{{ form_row(form.LieuxDeReception) }}
	{{ form_row(form.BudgetInitial) }}	
	{{ form_row(form.PhotoPrincipal) }}
	<img src="\uploads\images\{{photo_principal}}">
	{{ form_row(form.PhotoReception) }}
	<img src="\uploads\images\{{photo_reception}}">
	{{ form_row(form.PhotoCeremonie) }}
	<img src="\uploads\images\{{photo_ceremonie}}">
	{{ form_row(form.FichierCsv)}}
	<button class="btn btn-success">Enregistrer</button>
	{{ form_end(form) }}
	</div>
</div>

<style>
	.close_a {
  color: aliceblue;
  background-color: red;
  font-size: 20px;
  border-radius: 50%;
  padding: 6px;  
  text-align: end;
  position: absolute;
  right: 10px;
  top: 2px;  
  border: 3px solid;
}
.close_a:hover {
  color: red;
  background-color: aliceblue;
  font-size: 20px;
  border-radius: 50%;
  padding: 6px;
  text-align: end;
  position: absolute;
  right: 10px;
  top: 2px;
  border: 3px solid;
  transition: 2s;
  text-decoration: none;
}

	.activity-form {
  position: relative;
  background-color: rgba(200, 200, 202, 0.5);
  margin: 2%;
  padding: 30px;
  color: greenyellow;
  font-size: 20px;
  border: 2px solid tomato;
  box-shadow: 0px 1px 15px 5px tomato;
}

body {
  background-color: #212529;
}
	</style>


    <script>
        $(document).ready(function () {			
            $(function () {
                $("#datepicker").
                datepicker({
					dateFormat :"yy-mm-dd"
				}
				);
            });
        }) 

		
    </script>


{%endblock%}